@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

.header__image {
  width: 100%;
  position: relative;
}

.header__image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header__image .tt {
  position: absolute;
  left: 7%;
  bottom: 18%;
}

.header__image .t1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 109%;
  color: #ffffff;
}

.header__image .t2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 109%;
  color: #ffffff;
  margin-top: 20px;
}

.page2__main {
  padding: 0 6%;
}

.page2__con1 {
  overflow: hidden;
}

.page2__con1 .page2_cons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rows__h {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 109%;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}
.rows__txt {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #858585;
  text-align: justify;
}

.fn1 {
  font-size: 16px;
}

.page2__con2 {
  margin-top: 5%;
  overflow: hidden;
}

.page2__con3 {
  margin-top: 35px;
  overflow: hidden;
}

.page2__con3 .t3 h2 {
  display: flex;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 109%;
  color: #000000;
}

.page2__con3 .t3 hr {
  display: inline-block;
  border: 0;
  width: 35px;
  margin: 12px 0 10px;
  padding: 0;
  height: 0;
  border-top: 2px solid #fa4a86;
}

.team__member {
  margin: 30px 0;
  border: 1px solid #dcdfe8;
  border-radius: 10px;
  padding: 10px;
}

.team__member img {
  border-radius: 5px;
}

.team__member .member__name {
  padding: 10px 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 109%;
  color: #000000;
}

.team__member p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 109%;
  color: #000000;
}

.team__member .member__desc {
  padding-bottom: 10px;
  color: #858585;
  font-size: 14px;
  line-height: 150%;
  /* text-align: justify; */
  padding: 0px 5px;
  font-weight: normal;
}

.txt11 h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 109%;
  color: #000000;
}

.cardUI {
  background: #fff;
  box-shadow: 0 5px 12px 0 rgb(0 0 0 / 11%), 0 0 1px 0 rgb(0 0 0 / 10%);
  margin: 50px 15px;
  padding: 20px 20px 20px;
  transition: 0.25s;
  border-radius: 4px;
  height: calc(100% - 100px);
}

.cardUI img {
  margin-bottom: 30px;
  max-height: 78px;
  border-style: none;
  vertical-align: middle;
}

.cardUI h5 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
}

.cardUI p {
  color: #858585;
  font-family: Open Sans;
  line-height: 1.78em;
  font-size: 1em;
  text-align: center;
}

.vertical-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page2__con4 {
  margin-top: 3%;
  margin-bottom: 4%;
  overflow: hidden;
}

.page2__con4 .page2__con4__1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #004b07;
  display: flex;
  flex-direction: column;
}

.page2__con4 .page2__con4__2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2__con4 .__btn {
  border: 2px solid #004b07;
  padding: 18px 20px;
  color: #004b07;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  transition: all 0.5s;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;

  width: 330px;
}

.page2__con4 .__btn i {
  font-size: 30px;
}

.services .services__button .services__button2 {
  margin-left: 10%;
}

.page2__con4 .__btn:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  left: -100%;
  background: #004b07;
  transition: all 0.5s;
  z-index: -1;
}

.page2__con4 .__btn:hover {
  color: white;
}
.page2__con4 .__btn:hover:before {
  top: 0;
  left: 0;
}

@media (min-width: 1400px) {
  .header__image .t1 {
    font-size: 86px;
  }

  .header__image .t2 {
    font-size: 38px;
  }

  .page2__con2 {
    margin-top: 3%;
  }

  .rows__h {
    font-size: 54px;
  }

  .rows__txt {
    font-size: 25px;
    margin-top: 22px;
  }

  .page2__con3 {
    margin-top: 100px;
  }

  .page2__con3 .t3 h2 {
    font-size: 54px;
  }
  .team__member {
    margin-top: 50px;
    padding-top: 30px;
  }
  .team__member .member__name {
    font-size: 40px;
    margin-top: 15px;
  }
  .team__member p {
    font-size: 25px;
    margin-top: 5px;
  }
  .team__member .member__desc {
    font-size: 20px;
    margin-top: 25px;
    padding: 0px 15px;
    text-align: center;
  }

  .conn2 {
    margin-top: 40px;
  }
  .txt11 h2 {
    font-size: 54px;
  }
  .cardUI img {
    margin-bottom: 40px;
    max-height: 140px;
  }
  .cardUI h5 {
    font-size: 32px;
  }
  .cardUI p {
    font-size: 20px;
  }

  .page2__con4 {
    margin-top: 80px;
  }

  .page2__con4 .page2__con4__1 {
    font-size: 60px;
  }

  .page2__con4 .__btn {
    padding: 30px 30px;
    font-size: 24px;
    width: 420px;
  }
}

@media (min-width: 1700px) {
  .header__image .t1 {
    font-size: 96px;
  }

  .header__image .t2 {
    font-size: 48px;
  }

  .page2__con2 {
    margin-top: 3%;
  }

  .rows__h {
    font-size: 64px;
  }

  .rows__txt {
    font-size: 28px;
    margin-top: 28px;
  }

  .page2__con3 {
    margin-top: 100px;
  }

  .page2__con3 .t3 h2 {
    font-size: 64px;
  }
  .team__member {
    margin-top: 50px;
    padding-top: 30px;
  }
  .team__member .member__name {
    font-size: 48px;
    margin-top: 15px;
  }
  .team__member p {
    font-size: 30px;
    margin-top: 5px;
  }
  .team__member .member__desc {
    font-size: 25px;
    margin-top: 25px;
    padding: 0px 18px;
    text-align: center;
  }

  .conn2 {
    margin-top: 50px;
  }
  .txt11 h2 {
    font-size: 64px;
  }
  .cardUI img {
    margin-bottom: 40px;
    max-height: 170px;
  }
  .cardUI h5 {
    font-size: 36px;
  }
  .cardUI p {
    font-size: 25px;
  }
  .page2__con4 {
    margin-top: 110px;
  }

  .page2__con4 .page2__con4__1 {
    font-size: 72px;
  }

  .page2__con4 .__btn {
    padding: 40px 40px;
    font-size: 24px;
    width: 475px;
  }
}

@media (max-width: 768px) {
  .page2__main {
    padding: 0 2%;
  }

  .page2__con4 .page2__con4__1,
  .page2__con4__1 {
    font-size: 30px;
  }

  .page2__con4 .__btn {
    padding: 10px 16px;
    width: 250px;
  }
}

@media (max-width: 576px) {
  .page2__main {
    padding: 0 1%;
  }

  .rows__h {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .page2__con3 .t3 div {
    font-size: 26px;
  }

  .page2__con1 .page2_cons {
    margin-top: 22px;
  }

  .page2__con3 {
    margin-top: 25px;
  }

  .page2__con3 .t3 hr {
    margin: 5px 0 10px;
  }

  .team__member {
    margin: 10px 0px;
  }

  .team__member .member__desc {
    font-size: 15px;
  }
  .page2__con4 .page2__con4__1,
  .page2__con4__1 {
    font-size: 20px;
  }

  .page2__con4 .__btn {
    padding: 6px 12px;
    width: 160px;
    font-size: 12px;
  }
  .page2__con4 .__btn i {
    font-size: 20px;
  }
}
