@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

.header__image {
  width: 100%;
  position: relative;
}

.header__image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header__image .t1 {
  position: absolute;
  left: 7%;
  bottom: 25%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

main {
  padding: 40px 7%;
  overflow: hidden;
}

.con1 .t2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 109%;
  text-transform: uppercase;
  color: #000000;
}

.con1__1 {
  margin-top: 20px;
}

.con1__1 div:nth-child(1) {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 95px;
  line-height: 109%;
  text-transform: uppercase;
  color: #858585;
  margin-bottom: 5px;
}

.con1__1 div:nth-child(2) {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #858585;
}

.con2 {
  margin-top: 80px;
}

.con2__1 .t3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 109%;
  color: #000000;
  margin-bottom: 15px;
}

.con2__1 .t4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 109%;
  color: #858585;
}

.con2__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.con2__2 .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.con2__2 .icons div:nth-child(1) img {
  width: 28px;
  height: 40px;
}

.con2__2 .icons div:nth-child(2) {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  color: #858585;
  margin-top: 10px;
}

._im {
  width: 30px;
  height: 15px;
}

.con4 {
  margin-top: 50px;
  margin-bottom: 2%;
  overflow: hidden;
}

.con4 .con4__1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #004b07;
  display: flex;
  flex-direction: column;
}

.con4 .con4__2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.con4 .__btn {
  border: 2px solid #004b07;
  padding: 18px 20px;
  color: #004b07;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  transition: all 0.5s;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  width: 330px;
}

.con4 .__btn i {
  font-size: 30px;
}

.con4 .__btn:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  left: -100%;
  background: #004b07;
  transition: all 0.5s;
  z-index: -1;
}

.con4 .__btn:hover {
  color: white;
}
.con4 .__btn:hover:before {
  top: 0;
  left: 0;
}

@media (min-width: 1400px) {
  .header__image .t1 {
    font-size: 110px;
  }

  .con1 .t2 {
    font-size: 52px;
  }

  .con1__1 div:nth-child(1) {
    font-size: 160px;
  }

  .con1__1 div:nth-child(2) {
    font-size: 28px;
  }

  .con2__1 .t3 {
    font-size: 52px;
  }

  .con2__1 .t4 {
    font-size: 28px;
    margin-top: 35px;
  }

  .con2__2 {
    padding: 80px 50px 0px;
  }
  .con2__2 .icons div:nth-child(1) img {
    width: 55.97px;
    height: 82px;
  }

  .con2__2 .icons div:nth-child(2) {
    font-size: 22px;
  }

  ._im {
    width: 50px;
    height: 25px;
  }

  .con4 {
    margin-top: 100px;
  }

  .con4 .con4__1 {
    font-size: 60px;
  }

  .con4 .__btn {
    padding: 30px 30px;
    font-size: 24px;
    width: 420px;
  }
}

@media (min-width: 1700px) {
  .header__image .t1 {
    font-size: 122px;
  }

  .con1 .t2 {
    font-size: 56px;
  }

  .con1__1 div:nth-child(1) {
    font-size: 190px;
  }

  .con1__1 div:nth-child(2) {
    font-size: 30px;
  }

  .con2__1 .t3 {
    font-size: 56px;
  }

  .con2__1 .t4 {
    font-size: 30px;
    margin-top: 40px;
  }

  .con2__2 {
    padding: 80px 50px 0px;
  }
  .con2__2 .icons div:nth-child(1) img {
    width: 60.97px;
    height: 90px;
  }

  .con2__2 .icons div:nth-child(2) {
    font-size: 24px;
  }

  ._im {
    width: 60.97px;
    height: 25.96px;
  }

  .con4 {
    margin-top: 110px;
  }

  .con4 .con4__1 {
    font-size: 72px;
  }

  .con4 .__btn {
    padding: 40px 40px;
    font-size: 24px;
    width: 475px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 35px 4%;
  }
  .header__image .t1 {
    font-size: 4;
  }

  .con2 {
    margin-top: 50px;
  }
  .con4 .con4__1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  main {
    padding: 35px 3%;
  }
  .header__image .t1 {
    font-size: 24px;
  }

  .con2 {
    margin-top: 40px;
  }

  .con2__1 .t4 {
    margin-top: 10px;
  }

  .con2__2 {
    margin-top: 30px;
  }

  .con4 {
    margin-top: 40px;
  }

  .con4 .con4__1 {
    font-size: 30px;
  }

  .con4 .__btn {
    padding: 6px 12px;
    width: 160px;
    font-size: 12px;
  }
  .con4 .con4__1,
  .con4__2 {
    font-size: 20px;
  }
  .con4 .__btn i {
    font-size: 20px;
  }
}
